In [1]:
# Print your Emory ID here
print("Emory ID: 12345678")

Emory ID: 12345678

In [3]:
# Import the necessary libraries and load the data
import pandas as pd
import numpy as np

1. An online password attack is when someone tries to hack your account by simply trying a very large number of username/password combinations to access your account. For each `password` in our dataset, the `value` column shows the amount of time it is estimated to take an “online password attack” to hack your account. The column `time_unit` shows the units of that time value (e.g., hours, days, years, etc.). It would be much nicer if our values were of the same units so we can more easily compare the “online password guessing time” for each password. So your first task is to convert all of the values to units of hours (assume the conversion units provided below, e.g., 1 day is 24 hours, 1 week is 168 hours, etc).

In [85]:
# Your answer here 

units = {
    "seconds": 1 / 3600,
    "minutes": 1 / 60,
    "days": 24,
    "weeks": 168,
    "months": 720,
    "years": 8760,
}

df = pd.read_csv("/Users/keerthyrangan/Downloads/passwords.csv")

def convert_hours(x):
    for i in range(len(df)):
        if(df["time_unit"][i] == "seconds"):
            return x*units["seconds"]
        elif (df["time_unit"][i] == "years"):
            return x*units["years"]
        elif (df["time_unit"][i] == "minutes"):
            return x*units["minutes"]
        elif (df["time_unit"][i] == "days"):
            return x*units["days"]
        elif (df["time_unit"][i] == "months"):
            return x*units["months"]
        elif (df["time_unit"][i] == "weeks"):
            return x*units["weeks"]
        else:
            return x
df[["value"]].apply(convert_hours)

        value
0     60531.6
1    162235.2
2     11300.4
3     97323.6
4     32587.2
..        ...
502       NaN
503       NaN
504       NaN
505       NaN
506       NaN

[507 rows x 1 columns]

2. Are there any missing values in the dataset? If so, how many? After you have counted the, please drop them from the dataset.

In [89]:
# Your answer here

missing_values = df.isnull().sum()
print(missing_values)
#7 missing values

df.dropna().head()
print(df)

rank                 7
password             7
category             7
value                7
time_unit            7
offline_crack_sec    7
rank_alt             7
strength             7
font_size            7
dtype: int64
     rank  password             category  value time_unit  offline_crack_sec  \
0     1.0  password     password-related   6.91     years       2.170000e+00
1     2.0    123456  simple-alphanumeric  18.52   minutes       1.110000e-05
2     3.0  12345678  simple-alphanumeric   1.29      days       1.110000e-03
3     4.0      1234  simple-alphanumeric  11.11   seconds       1.110000e-07
4     5.0    qwerty  simple-alphanumeric   3.72      days       3.210000e-03
..    ...       ...                  ...    ...       ...                ...
502   NaN       NaN                  NaN    NaN       NaN                NaN
503   NaN       NaN                  NaN    NaN       NaN                NaN
504   NaN       NaN                  NaN    NaN       NaN                NaN
505   NaN       NaN                  NaN    NaN       NaN                NaN
506   NaN       NaN                  NaN    NaN       NaN                NaN

     rank_alt  strength  font_size
0         1.0       8.0       11.0
1         2.0       4.0        8.0
2         3.0       4.0        8.0
3         4.0       4.0        8.0
4         5.0       8.0       11.0
..        ...       ...        ...
502       NaN       NaN        NaN
503       NaN       NaN        NaN
504       NaN       NaN        NaN
505       NaN       NaN        NaN
506       NaN       NaN        NaN

[507 rows x 9 columns]

7 missing values

3. Which password category has the highest average strength?

In [109]:
# Your answer here
dfg = df.groupby(by="category")

print(dfg["category"])
max_avg = dfg["strength"].mean().max()

<pandas.core.groupby.generic.SeriesGroupBy object at 0x148d30910>

4. What is the rank of the password 'qwerty'?

In [99]:
# Your answer here

for i in range(len(df)):
    if df["password"][i] == "qwerty":
        df["Rank_qwerty"] = df["rank"]
    else:
        df["Rank_qwerty"] = None

df

0      1.0
1      2.0
2      3.0
3      4.0
4      5.0
      ...
502    NaN
503    NaN
504    NaN
505    NaN
506    NaN
Name: rank, Length: 507, dtype: float64

,rank,password,category,value,time_unit,offline_crack_sec,rank_alt,strength,font_size,Rank_qwerty
0,1.0,password,password-related,6.91,years,2.170000e+00,1.0,8.0,11.0,None
1,2.0,123456,simple-alphanumeric,18.52,minutes,1.110000e-05,2.0,4.0,8.0,None
2,3.0,12345678,simple-alphanumeric,1.29,days,1.110000e-03,3.0,4.0,8.0,None
3,4.0,1234,simple-alphanumeric,11.11,seconds,1.110000e-07,4.0,4.0,8.0,None
4,5.0,qwerty,simple-alphanumeric,3.72,days,3.210000e-03,5.0,8.0,11.0,None
...,...,...,...,...,...,...,...,...,...,...
502,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
503,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
504,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
505,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
506,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None

5. How many passwords have more than 8 characters?

In [45]:
# Your answer here
count = 0
for i in range(len(df)):
    if len(df["password"][i]) > 7:
        count += 1

print(count)

66

6. How many passwords do not contain a number?

In [49]:
# Your answer here

numbers = ["1","2","3","4","5","6","7","8","9","0"]
count = 0
for i in range(len(df)):
    for j in range(len(numbers)):
        if numbers[j] in df["password"][i]:
            count +=1

print(count)

146

7. What is the average time in hours needed to crack these passwords that begin with `123`? How does this compare to the average of all passwords in the dataset?

In [58]:
# Your answer here
s = []
for i in range(len(df)):
    if df["password"][i][0:3] == "123":
        s.append(df["value"][i])

avg_123 = sum(s)/len(s)
print(avg_123)

avg_all = sum(df["value"])/len(df["value"])
print(avg_all)

print("Difference between avg time to crack passwords beginning with 123 vs all passwords: ", avg_123 - avg_all)

8.715555555555556
5.602659999999995
Difference between avg time to crack passwords beginning with 123 vs all passwords:  3.1128955555555606

8. What percentage of passwords are of the `simple-alphanumeric` category?

In [60]:
# Your answer here
count = 0

for i in range(len(df)):
    if df["category"][i] == "simple-alphanumeric":
        count += 1

print(count/len(df["category"]) *100)

12.2

9. How many passwords have a strength rating below 5? What is their percentage?

In [61]:
# Your answer here
count = 0
for i in range(len(df)):
    if df["strength"][i] < 5:
        count += 1

print(count)
print(count/len(df["strength"]) *100)

73
14.6

10. What is the most common password in the dataset?

In [65]:
# Your answer here
df1 = df.sort_values(by='password').head(1)
print(df1["password"])

76    1111
Name: password, dtype: object

11. How many unique passwords are there in each category, and what is their average length?

In [117]:
# Your answer here
dfg = df.groupby("category")
unique_passwords = dfg["password"].unique()
sum = 0
for i in range(len(unique_passwords)):
    sum += len(unique_passwords[i])

print(sum/len(unique_passwords))

TypeError: 'int' object is not subscriptable

12. What is the median rank and strength for passwords of each length?

In [ ]:
# Your answer here

13. Add a column `strength_label` with values `weak` if strength is below 5, else `strong`. Use a lambda function.

In [77]:
# Your answer here

def weak_or_strong(x):
    if x < 5:
        return "weak"
    else:
        return "strong"
df["strength_label"] = df["strength"].apply(weak_or_strong)
df

,rank,password,category,value,time_unit,offline_crack_sec,rank_alt,strength,font_size,strength_label
0,1.0,password,password-related,6.91,years,2.170000e+00,1.0,8.0,11.0,strong
1,2.0,123456,simple-alphanumeric,18.52,minutes,1.110000e-05,2.0,4.0,8.0,weak
2,3.0,12345678,simple-alphanumeric,1.29,days,1.110000e-03,3.0,4.0,8.0,weak
3,4.0,1234,simple-alphanumeric,11.11,seconds,1.110000e-07,4.0,4.0,8.0,weak
4,5.0,qwerty,simple-alphanumeric,3.72,days,3.210000e-03,5.0,8.0,11.0,strong
...,...,...,...,...,...,...,...,...,...,...
495,496.0,reddog,cool-macho,3.72,days,3.210000e-03,498.0,6.0,10.0,strong
496,497.0,alexande,name,6.91,years,2.170000e+00,499.0,9.0,12.0,strong
497,498.0,college,nerdy-pop,3.19,months,8.350000e-02,500.0,7.0,11.0,strong
498,499.0,jester,name,3.72,days,3.210000e-03,501.0,7.0,11.0,strong
499,500.0,passw0rd,password-related,92.27,years,2.902000e+01,502.0,28.0,21.0,strong

14. Create a column `high_value` with a value of `True` if value is in the top 10% of values in the dataset.

In [78]:
# Your answer here
top_10_values = []
threshold = df["value"].quantile(0.9)
for i in range(len(df["value"])):
    if df["value"][i] >= threshold:
        top_10_values.append(df["value"][i])

def top10(x):
    if x in top_10_values:
        return True
    else:
        return False
    
df["high_value"] = df["value"].apply(top10)
df

,rank,password,category,value,time_unit,offline_crack_sec,rank_alt,strength,font_size,strength_label,high_value
0,1.0,password,password-related,6.91,years,2.170000e+00,1.0,8.0,11.0,strong,False
1,2.0,123456,simple-alphanumeric,18.52,minutes,1.110000e-05,2.0,4.0,8.0,weak,True
2,3.0,12345678,simple-alphanumeric,1.29,days,1.110000e-03,3.0,4.0,8.0,weak,False
3,4.0,1234,simple-alphanumeric,11.11,seconds,1.110000e-07,4.0,4.0,8.0,weak,True
4,5.0,qwerty,simple-alphanumeric,3.72,days,3.210000e-03,5.0,8.0,11.0,strong,False
...,...,...,...,...,...,...,...,...,...,...,...
495,496.0,reddog,cool-macho,3.72,days,3.210000e-03,498.0,6.0,10.0,strong,False
496,497.0,alexande,name,6.91,years,2.170000e+00,499.0,9.0,12.0,strong,False
497,498.0,college,nerdy-pop,3.19,months,8.350000e-02,500.0,7.0,11.0,strong,False
498,499.0,jester,name,3.72,days,3.210000e-03,501.0,7.0,11.0,strong,False
499,500.0,passw0rd,password-related,92.27,years,2.902000e+01,502.0,28.0,21.0,strong,True

15. Join all passwords within each `category` into a single string.

In [81]:
# Your answer here
str = ""
dfg = df.groupby("category")
for i in range(len(dfg)):
    str += dfg["password"][i]

IndexError: Column(s) password already selected

**Bonus question 01**: What is the correlation between password length and strength? Create a scatter plot with regression line.

In [ ]:
# Your answer here

**Bonus question 02**: Find all passwords with palindromes.

In [ ]:
# Your answer here